<div class="container">
    <h1>
    My Goals
    </h1>
    
      <!-- <ul *ngFor="let goal of goals">
          <p> My goal for today is {{ goal }}</p>
      </ul> -->
      <!-- <ul>
        <li *ngFor='let goal of goals'>
         {{goal.id}} {{goal.name}}
         <app-goal-detail [goal]='goal'></app-goal-detail> 
        </li>
    </ul>
    <p *ngIf='goals.length > 5'>Your goals are too many</p> -->
    
   <!-- delete goal -->
   <!-- <hr>
   <ul>
    <div *ngFor='let goal of goals; let i = index'>
     <li appStrikeTrough>{{goal.id}} {{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
     <button (click)='toggleDetails(i)'>Toggle Details</button> -->
     <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete)='completeGoal($event, i)'></app-goal-detail> -->
     <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteGoal($event, i)'></app-goal-detail>
     
    </div>
   </ul>
  <p *ngIf='goals.length > 5'>Your goals are too many</p> -->

  <!-- using bootstrap -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)='addNewGoal($event)'></app-goal-form>
    </div>
  </div><br>
  <p *ngIf='goals.length > 5'><em>You have too many goals</em></p>
</div>
